<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="Logs/nlog-internal.log">

  <targets>
    <!-- write logs to file -->
    <!--输出目标:[xsi:type]输出类型文件, [name]名称，这里我取名为info,[fileName]输出到程序根目录logs文件夹中, 以日期作为生成log文件名称, [layout]生成内容的格式
		-->
    <!-- write logs to the files -->
    <target xsi:type="File" name="trace" fileName="${basedir}/Logs/Trace_${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message}" />
    <target xsi:type="File" name="debug" fileName="${basedir}/Logs/Debug_${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message}" />
    <target xsi:type="File" name="info" fileName="${basedir}/Logs/Info/${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message}" />


    <!-- write logs to the console-->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!-- 日志路由规则：最低级别info，输出到target目标 JiShangInformationExport -->
    <!-- 由低到高 trace,debug,info,warn,error,fatal -->
    <!--  -->
    <logger name="*" minlevel="trace" writeTo="trace" />
    <logger name="*" minlevel="debug" writeTo="debug" />
    <logger name="*" minlevel="info" writeTo="info" />
  </rules>
</nlog>